node_modules
.vscode
nodemon.json
archive
.gitignore
dbfile
log
logs
readme
*.bat
*.md
*.tar
conf/*
test/unitTest/coverage/*
test/unitTest/report/*
!test/unitTest
test/pressureTest
test/mobileSimulator
convertpdf.js
archive
tozip
.docker_temp*